{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'img/botzerk.png' %}" type="image/png">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
  {% tailwind_css %}
  {% block title %}
  <title></title>
  {% endblock %}


</head>

<body class="bg-slate-300">
  {% include 'navbar.html' %}




  {% block content %}


  {% endblock %}

  {% include 'footer.html' %}


  <script src="{% static 'js/script.js' %}"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <style>
    .ajs-message.ajs-custom {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #31708f;

    }
  </style>
  {% block scripts %}
  <script>
    {% for msg in messages %}
    alertify.set('notifier', 'position', 'top-right');
    alertify.notify('{{ msg }}', 'custom',);
    {% endfor %}

  </script>
  {% endblock %}
</body>

</html>