{% load static tailwind_tags %}




<nav class="bg-gray-800 px-3 mb-5">
  <div class="flex items-center h-16 justify-between text-white">
    <a class="flex items-center" href="{%url 'home' %}">
      <img class="w-14" src="{% static 'img/logo_2.png' %}" alt="">
      <span style="letter-spacing: 8px;"
        class="text-white tracking-wide p-2 text-lg hover:bg-gray-950 rounded-md px-3 py-2  font-medium">botz-chat</span>
    </a>


    <div class=" hidden md:block" id="navbarText">
      <ul class="flex md:flex-row md:justify-around ">
        {% if user.is_authenticated %}
        <li class="navlinks">
          <a class="" href="{% url 'logout' %}">logout</a>
        </li>
        <li class="navlinks">
          <a class="" href="{% url 'create_room' %}">Create Room</a>
        </li>

        <li class="navlinks">
          <a class="" aria-current="page" href="{%url 'profile' request.user.id %}">profile</a>
        </li>

        <li class="navlinks">
          <a class="" href="#">👋 <span class="">{{request.user.first_name}} {{request.user.last_name}}</span> </a>
        </li>
        {% else %}
        <li class="navlinks">
          <a class="" href="{% url 'registration' %}">Register</a>
        </li>
        <li class="navlinks">
          <a class="" href="{% url 'login' %}">login</a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="px-2">

          <a class="" href="{%url 'profile' request.user.id %}" tabindex="-1" aria-disabled="true"><img
              class="h-10 w-10 border-2 border-white rounded-full" src="{{ request.user.avatar.image.url }}"
              alt="img for{{request.user.first_name}}"></a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="md:hidden">
      <svg id="menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
        stroke="currentColor" class="w-6 h-6 cursor-pointer">
        <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>

      <svg id="close" class="w-6 h-6 cursor-pointer hidden" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>


    </div>
  </div>
  <!-- mobile view -->
  <div>
    <ul id="mobile"
      class=" flex flex-col gap-5 items-center opacity-95 md:hidden fixed right-0 min-h-screen bg-gray-800 w-full sm:w-[50%] transition-all duration-500 ease-in-out transform translate-x-full invisible">
      {% if user.is_authenticated %}
      <li class="navlinks">
        <a class="" href="{% url 'logout' %}">logout</a>
      </li>
      <li class="navlinks">
        <a class="" href="{% url 'create_room' %}">Create Room</a>
      </li>

      <li class="navlinks">
        <a class="" aria-current="page" href="{%url 'profile' request.user.id %}">profile</a>
      </li>

      <li class="navlinks">
        <a class="" href="#">👋 <span class="">{{request.user.first_name}} {{request.user.last_name}}</span> </a>
      </li>
      {% else %}
      <li class="navlinks">
        <a class="" href="{% url 'registration' %}">Register</a>
      </li>
      <li class="navlinks">
        <a class="" href="{% url 'login' %}">login</a>
      </li>
      {% endif %}

      {% if user.is_authenticated %}
      <li class="px-2">

        <a class="" href="{%url 'profile' request.user.id %}" tabindex="-1" aria-disabled="true"><img
            class="h-10 w-10 border-2 border-white rounded-full" src="{{ request.user.avatar.image.url }}"
            alt="img for{{request.user.first_name}}"></a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>