{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>Home</title>
  {% endblock %}
</head>

<body>
  {% block content %}

  {% include 'searchbar.html' %}

  <main>
    <div class="">
      <div class="grid md:grid-cols-3 gap-6 px-8 sm:px-28 py-16">

        <!-- Topics -->
        <div class="hidden sm:flex flex-col gap-4 ">
          <div class="flex justify-between items-center ">
            <button class=" ">
              <h5 class="text-2xl topicReveal text-sky-800">Topics</h5>
            </button>
            <span class="hidden sm:block text-sky-700">{{topics.count}} Topics</span>
          </div>


          <ul class="">
            {% for topic in topics %}
            <li class="mt-2 hover:text-sky-600 text-lg"><a href="?q={{topic.name}}">{{topic.name}}</a><i
                class="bi bi-caret-down-square-fill"></i>
            </li>
            {% endfor %}
          </ul>
        </div>

        <!-- rooms -->
        <div class="col-span-2  ">
          <div class="flex items-center justify-between pb-4">
            <h5 class="text-2xl text-sky-800">Rooms</h5>
            <span class="text-sky-700">{{rooms.count}} Room(s)</span>
          </div>
          <!-- room card start -->

          {% for page in page_obj %}
          <div class=" bg-gray-200 rounded p-4 shadow-lg mt-2">
            <div class=" flex items-center justify-between mb-4">
              <div class="flex gap-3 items-center">
                <img class="w-10 h-10 border-2 border-gray-150 rounded-full" src="{{ page.host.avatar.image.url }}"
                  alt="img for{{page.host.first_name}}">
                <a href="{%url 'profile' page.host.id %}" class="hover:text-sky-600"><span
                    class="text-sm md:text-lg text-sky-800">{{page.host.email}}</span></a>
              </div>
              <span class=" text-xs md:text-sm">{{page.updated | timesince}} ago</span>
            </div>
            <div class=" ">
              <h5><a class=" text-2xl md:text-4xl text-sky-800 " href="{% url 'room_chat' page.id %}">{{page.name}}</a>
              </h5>
              <hr class="border-sky-500 mt-4">

              <div class="mt-2">
                <div>
                  <i></i><span class="text-sm">{{ page.members.count }} joined </span>

                </div>
                {% if page.host == request.user %}
                <div class="">
                  <a id="edit-room" class="" href="{% url 'update_room' page.id %}"><i class=" bi bi-pencil"></i></a>
                  <a id="delete-room" class="" href="{% url 'delete' page.id %}"><i class="bi bi-x"></i></a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- room card end -->


          <!-- pagination -->
          <nav class="mt-4">
            <ul class="flex gap-2 justify-center ">
              {% if page_obj.has_previous %}
              <li class="border-sky-700 border-2 rounded px-2 hover:bg-sky-700 hover:text-white">
                <a class="" href="?page=1">First</a>
              </li>
              <li class="border-sky-700 border-2 rounded px-2 hover:bg-sky-700 hover:text-white">
                <a class="" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
              {% endif %}

              {% for num in page_obj.paginator.page_range %}

              <li
                class="border-sky-700 border-2 rounded px-2 hover:bg-sky-700 hover:text-white {% if page_obj.number == num %}active{% endif %} ">
                <a class="" href="?page={{ num }}">{{ num }}</a>
              </li>
              {% endfor %}

              {% if page_obj.has_next %}
              <li class=" border-sky-700 border-2 rounded px-2 hover:bg-sky-700 hover:text-white">
                <a class="" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              <li class="border-sky-700 border-2 rounded px-2 hover:bg-sky-700 hover:text-white">
                <a class="" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
              </li>
              {% endif %}
            </ul>
          </nav>


        </div>
      </div>
    </div>



  </main>
  {% endblock %}
</body>

</html>