{% extends 'base.html' %}
{% load static %}

<main>
    
    <body>
        {% block content %}
        
        {% include 'searchbar.html' %}
  <!-- profile card -->

  <div class="container p-5">
    <div class="profile-card" style="width: 100%; overflow-y: auto;">
      <center>
      <img class="profile-card-img" src="{{user.avatar.image.url }}" alt="img for{{user.first_name}}">
      <a href="{%url 'select_avatar' %}"><i class="bi bi-pencil-square"></i></a>
      <div class="card-body">
        <h6 class="">username</h6>
        <span class="profile-email">@{{user.first_name}}{{ user.last_name}}</span>
        <div>
          <button class="btn btn-primary" type="submit"><a style="color: #709be0;" href="{%url 'profile_update' user.id %}">Edit Profile</a></button>
      </div>
      </center>
      <h6  class="about">About:</h6>

      <p class="">{{user.bio|linebreaksbr}}</p>

      </div>
    </div>
</div>
{% endblock %}

  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/script.js"></script>

</body>

</html>