{% extends 'base.html'%}
{% load static %}

{% block title %}
<title>{{room.name}}</title>
{% endblock %}

{% block content %}
{% include 'searchbar.html' %}

<main>
    <div class="container p-2 pt-0">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 p-2">
                <div class=" room-header">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <h6 class=" d-flex"><i class="bi bi-arrow-left p-2 "></i><a href="{% url 'home' %}"
                                class="pt-2 text-uppercase" style="font-family: 'Nova Square', sans-serif;">rooms</a>
                        </h6>
                        {% if room.host == request.user %}
                        <div class="me-3 mb-2">
                            <a href="{% url 'update_room' room.id %}"><i class="bi bi-pencil me-2"></i></a>
                            <a href="{% url 'delete' room.id %}"><i class="bi bi-x-lg"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="room-body p-3 mb-2">
                    <div class="d-flex flex-row justify-content-between pe-4 ps-5">
                        <p>Hosted by</p>
                        <h6 class=" fw-bold">{{room.name}}</h6>
                    </div>

                    <div class="room-detail">
                        <div class="d-flex flex-row ">
                            <img class="profile-img align-self-center" src="{{ room.host.avatar.image.url }}"
                                alt="img for{{room.host.first_name}}">
                            <a href="" class=" p-2 flex-fill align-self-center"><span class="profile-email">@
                                    {{room.host.first_name}} {{ room.host.last_name }}</span></a>
                            <span class="date-time p-3 align-self-center">{{room.created|timesince}} ago</span>
                        </div>

                        <!-- chatbox messaging -->
                        <div class="container chatbox">
                            {% for chat in chat_messages %}
                            <div class="d-flex flex-row justify-content-between">
                                <div>
                                    <img class="profile-img align-self-center" src="{{chat.author.avatar.image.url }}"
                                        alt="img for{{chat.author.first_name}}">
                                    <a href="" class=" p-2 "><span class=" profile-email">@{{chat.author.first_name}}
                                            {{chat.author.last_name}}</span></a>
                                </div>
                                <small class="date-time align-self-center ">{{chat.created | timesince}} ago</small>
                                {% if request.user == chat.author %}
                                <span class="delete-icon align-self-center"><a
                                        href="{% url 'delete_message' chat.id %}"><i class="bi bi-x-lg"></i></a></span>
                                {% endif %}
                            </div>
                            <div class="message ms-5">{{chat.body}}</div>
                            <hr style="color: #4f7cc2;">
                            {% endfor %}
                            <!-- chat message replica -->

                            <!-- chat message end -->
                        </div>


                        <div class="container p-3 w-100 search-width">
                            <form id="myForm" action="" method="POST" class="container d-flex flex-row ">
                                {% csrf_token %}
                                <input class=" form-control me-2" name="text" type="text" id="message-input"
                                    placeholder="Write your message..." aria-label="Search">
                                <Button id="removeStylesButton" class="btn btn-secondary" type="submit"><i
                                        class="bi bi-send align-self-center"></i></Button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-lg-block pt-2">
                <div class=" room-header">

                    <h6 class="text-uppercase pt-2 ps-3">members <small>(2 joined)</small></h6>
                    <div class=" room-body">
                        <div class="container-detail">
                            {% for user in members %}
                            <div>
                                <p class="ps-5 m-0">username</p>
                                <!-- username -->
                                <div class="ps-2">
                                    <img class="profile-img" src="{{user.avatar.image.url }}"
                                        alt="img for{{user.first_name}}">
                                    <a href="" class=" ps-2"><span class="profile-email">@{{user.first_name}}</span></a>
                                    <hr>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- participant replica -->
                            <!-- participant replica end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}